<header class="content">
  <h1>webTv</h1>
  <nav>
    <a href="" routerLink="/" routerLinkActive="active">Accueil</a>
    <a href="login" routerLink="/login" routerLinkActive="active">Login</a>
    <a href="logout" routerLink="/logout" routerLinkActive="active"><button>Logout</button></a>
    <a href="contact" routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>


  
<body>
  <div class="container">
  <h1 class="title title-1">S'inscrire</h1>


  <form class="form">

    <div class="form_group">
      <input type="nom" class="form_input" id="nom" name="nom" placeholder="nom" >
      <label for="nom" class="form_label">nom</label>
    </div>

  <div class="form_group">
    <input type="pseudo" class="form_input" id="pseudo" name="pseudo" placeholder="pseudo" >
    <label for="pseudo" class="form_label">Pseudo</label>
  </div>

  <div class="form_group">
    <input type="password" class="form_input" id="password" name="password" placeholder="**********">
    <label for="password" class="form_label">password</label>
  </div>

  

 

  <div class="submit">
    <button class="submitBtn">S'inscrire &rarr;</button>
    
  </div>
</form>
  

</div>
</body>


<footer>
  <div class="footer">
    
    </div>
    <footer class="footer mt-auto">
      <p>© 2024 WebTv</p>

      <a href="mentions-legales.html">Mentions légales</a>
      <a href="contact.html">Nous contacter</a>
      <a href="https://www.facebook.com" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
    </footer>
</footer>