<header class="content">
    <h1>webTv</h1>
    <nav>
      <a href="" routerLink="/" routerLinkActive="active"><button>Accueil</button></a>
      <a href="login" routerLink="/login" routerLinkActive="active">Login</a>
      <a href="logout" routerLink="/logout" routerLinkActive="active">Logout</a>
      <a href="contact" routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>

  <main>

  </main>

  <footer>
    <div class="container">
        <!-- Your content here -->
      </div>
      <footer class="footer mt-auto">
        <p>© 2024 WebTv</p>

        <a href="mentions-legales.html">Mentions légales</a>
        <a href="contact.html">Nous contacter</a>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
      </footer>
</footer>

